html {
  font-family: 'Roboto Condensed', sans-serif;
  background-color: white;
  color: black;
}

body {
  height: 100%;
  margin: 0 0;
}

#hcontainer {
  left: 0;
  top: 0;
  background-color: white;
  border-bottom: gray solid 1px;
  height: 50px;
  width: 100%;
  margin: 0 0;
  position: fixed;
}

#blink {
  width: 10%;
  float: left;
  margin: 0 0;
  height: 100%;
}

#header {
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 0;
  width: 40%;
  height: 100%;
  float: left;
  display: flex
}

#header h1 {
  margin: 0 0;
  margin-left: 10px;
}

nav {
  width: 50%;
  height: 100%;
  float: right;
}

nav ul {
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  background-color: white;
  color: black;
  margin: 0 0;
  height: 100%;
}

nav ul li {
  float: left;
  width: 25%;
  height: 100%;
  font-size: 20px;
  color: black;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 5%;
  text-decoration: none;
  color: black;
}

li a:hover {
  background-color: black;
  color: white;
  height: 100%;
}

.active {
  background-color: black;
  color: white;
  height: 100%;
}

#topper {
  width: 100%;
  height: 600px;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-image: url("../assets/skyline.jpg");
}

img {
    max-width: 100%;
    max-height: 100%;
}

#profpicture img {
  border-radius: 50%;
  width:40%;
  height: 40%;
  float: left;
  display: block;
  border: 2px solid black;
}

#container {
  margin-top: 50px;
  height: 600px;
  width:100%
  float: left;
  background-color: none;
  font-size: 20px;
}

#map {
  height: 700px;
  width: 50%;
  margin-top: 5%;
  float: left;
}

#about {
  height: 50%;
  width: 50%;
  margin: 0;
  float: left;
  line-height: 40px;
  text-align: left;
}

#about h1, h2, p {
  margin-left: 10px;
}

#clickables img {
  margin: 10% 5%;
}

#interests {
  font-size: 20px;
  height: 400px;
  width: 50%;
  margin: 0;
  float: left;
}

#projects {
  height: 600px;
  width: 100%;
  margin-top: 50px;
  float: left;
  background-color: black;
  color: white;
}

#projects h1,p {
  margin-left: 10px;
}

#skills {
  height: 600px;
  width: 100%;
  margin: 0 0;
  float: left;
  background-color: white;
  color: black;
}

#skills h1,p {
  margin-left: 10px;
}

#skills table {
  height: 400px;
  width: 75%;
  margin: auto auto;
  text-align: center;
  border: 2px solid black;
}

#skills th, td {
  border: 2px solid black;
}

#languages {
  display: flex;
}

#ide, #other {
  display: none;
}

#buttons {
  text-align: center;
}

#buttons button {
  background-color: white;;
  border-radius: 50% 50%;
  width: 15px;
  height: 15px;
  margin: 10px 30px;
  padding: 0 0;
}
