html {
  font-family: 'Concert One', cursive, serif;
  background-color: white;
  color: black;
}

#header {
  font-size: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
  color: black;
  border: 1px solid black;
}

nav ul li {
  float: left;
  width: 25%;
  font-size: 20px;
  color: black;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 10%;
  text-decoration: none;
  color: black;
}

li a:hover {
  background-color: black;
  color: white;
}

.active {
  background-color: black;
  color: white;
}

#profpicture img {
  border-radius: 50%;
  width:40%;
  height: 40%;
  float: left;
  display: block;
  border: 2px solid black;
}

#container {
  padding-top: 15px;
  height: 400px;
  width:100%
  float: left;
  background-color: none;
  font-size: 20px;
}

#map {
  height: 400px;
  width: 50%;
  margin: 0;
  float: left;
}

#about {
  height: 400px;
  width: 50%;
  margin: 0;
  float: left;
  line-height: 40px;
  text-align: center;
}

#interests {
  font-size: 20px;
  height: 400px;
  width: 50%;
  margin: 0;
  float: left;
}

#skills {
  font-size: 20px;
  height: 400px;
  width: 50%;
  margin: 0;
  float: left;
}
