html {
  font-family: 'Roboto Condensed', sans-serif;
  background-color: white;
  color: black;
}

#hcontainer {
  left: 0;
  top: 0;
  background-color: white;
  height: 50px;
  width: 100%;
  margin: 0 0;
  position: fixed;
}

#blink {
  width: 10%;
  float: left;
  margin: 0 0;
  height: 100%;
}

#header {
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 0;
  width: 40%;
  height: 100%;
  float: left;
  display: flex
}

#header h1 {
  margin: 0 0;
  margin-left: 10px;
}

nav {
  width: 50%;
  height: 100%;
  float: left;
}

nav ul {
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  background-color: white;
  color: black;
  margin: 0 0;
  height: 100%;
}

nav ul li {
  float: left;
  width: 25%;
  height: 100%;
  font-size: 20px;
  color: black;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 5%;
  text-decoration: none;
  color: black;
}

li a:hover {
  background-color: black;
  color: white;
  height: 100%;
}

.active {
  background-color: black;
  color: white;
  height: 100%;
}

#profpicture img {
  border-radius: 50%;
  width:40%;
  height: 40%;
  float: left;
  display: block;
  border: 2px solid black;
}

#container {
  padding-top: 60px;
  height: 400px;
  width:100%
  float: left;
  background-color: none;
  font-size: 20px;
}

#map {
  height: 700px;
  width: 50%;
  margin: 0;
  float: left;
}

#about {
  height: 10000px;
  width: 50%;
  margin: 0;
  float: left;
  line-height: 40px;
  text-align: center;
}

#interests {
  font-size: 20px;
  height: 400px;
  width: 50%;
  margin: 0;
  float: left;
}

#skills {
  font-size: 20px;
  height: 400px;
  width: 50%;
  margin: 0;
  float: left;
}
